In [1]:
#thsi is first line comment
sperm=3 #second single line comment
"""This is multiline comment
to decribe a full details of multiline description"""

'This is multiline comment\nto decribe a full details of multiline description'

In [5]:
#division always returns a floating point numbers

num=50
num1=7
sum=num+num1
print(sum)
subtraction=num-num1
print(subtraction)
multiplication=num*num1
print(multiplication)
division=num/num1
print(division) #always gives a floating point number in division

57
43
350
7.142857142857143

In [15]:
#floating division
num=55//7 #floating division always ignores the fractional 
#numbers and print only full form of the numbers(int)
print(num)

nm= 66%8
print("Modulus of 66%8 is : "+str(nm))

7
Modulus of 66%8 is : 2

In [8]:
n= "Hello there \ni am nayeem"
n ## without print( ) this will print like this - 'Hello there \n i am nayeem'
print(n) #with print() this will print a new line

Hello there
i am nayeem

In [10]:
##raw strings
print("C:\some\name") #here \n will create a new line
#toprevent this new line we have to include 'r'at the beginning of the print quote
print(r"C:\some\name")

C:\some
ame
C:\some\name

In [24]:
print("""hello 
there
i am 
mh nayeem 
to working in this procedure""")
print("""\
hello 
there
i am 
mh nayeem 
to working in this procedure
""")

hello
there
i am
mh nayeem
to working in this procedure
hello
there
i am
mh nayeem
to working in this procedure

In [28]:
##Strings can be concatenated (glued together) 
#with the + operator, and repeated with *

name= "nay"
nam="mh"

print(name*6+nam)

naynaynaynaynaynaymh

In [32]:
#text concatenated
name= ('Mahmudul hasan' ' nayeem' 
       ' is a programmer and tech enthusiast and evangelist')
print(name)

Mahmudul hasan nayeem is a programmer and tech enthusiast and evangelist

In [60]:
#indexes into a word or variable

name= "Mahmudul hasan nayeem"
print(name[6])
print(name[-10])
print(name[0:8])
print(name[2:5])
print(name[0:])
print(name[-6:])
print(name[-6:-1])
print(name[:])

nam= name+',a programmer !'
print(nam)


##see the following chart of indexing

u
s
Mahmudul
hmu
Mahmudul hasan nayeem
nayeem
nayee
Mahmudul hasan nayeem
Mahmudul hasan nayeem,a programmer !

##+---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
   0   1   2   3   4   5   
  -6  -5  -4  -3  -2  -1

In [51]:
##Python strings cannot be changed — they are immutable. Therefore, 
#assigning to an indexed position in the string results in an error:

#name[0]="n"
#print(name) this can'be be done this way cz strings are immutable in pythn
#to create a new string follow the following strategy

new_name= "N"+name[1:]
print(new_name)

Nahmudul hasan nayeem

In [53]:
prof='programmer,developer and Ai engineer'
length=len(prof)
print(length)

36

In [59]:
#basic list

list=['nayeem','nishpa','subna','ohi']
print(list)
print(list[3])
print(list[-3:])
print(list[:])

['nayeem', 'nishpa', 'subna', 'ohi']
ohi
['nishpa', 'subna', 'ohi']
['nayeem', 'nishpa', 'subna', 'ohi']

In [64]:
#lists also support operations like concatenation

list=["nayeem",'nishpa','ohi','lija','sohel']
print(list)
list1=list+['subna']
print(list1)
list2=list*2+['subna']
print(list2)

['nayeem', 'nishpa', 'ohi', 'lija', 'sohel']
['nayeem', 'nishpa', 'ohi', 'lija', 'sohel', 'subna']
['nayeem', 'nishpa', 'ohi', 'lija', 'sohel', 'nayeem', 'nishpa', 'ohi', 'lija', 'sohel', 'subna']

In [72]:
#STRINGS ARE IMMUTABLE BUT LISTS ARE MUTABLE - that means lists can be changed

print("Hello there,i am working here with mutable lists")
print(" ")
print("List is : \n"+str(list))
print(" ")
list=["nayeem",'nishpa','ohi','lija','sohel']
list[1]="nishpa_moni"
print("List after mutable operation : \n"+str(list))

Hello there,i am working here with mutable lists

List is :
['nayeem', 'nishpa_moni', 'ohi', 'lija', 'sohel']

List after mutable operation :
['nayeem', 'nishpa_moni', 'ohi', 'lija', 'sohel']

In [81]:
#we can add items into a list by using append() method as follows

list=["hello",'there',"i",'am','nayeem']
print(list)
list.append("i am a programmer")
print(list)
list.append("My salary is :")
list.append(10**6)
print(list)

['hello', 'there', 'i', 'am', 'nayeem']
['hello', 'there', 'i', 'am', 'nayeem', 'i am a programmer']
['hello', 'there', 'i', 'am', 'nayeem', 'i am a programmer', 'My salary is :', 1000000]

In [4]:
#assignment to slices is also possible and this can change the size of list 
#completely and  entirely

list=['a','b','c','d','e','f','g','h']
print(list)
list[0:5]=["A","B",'C','D','E']
print(list)
list[0:5]=["A","B",'C','D','E','F','G']
print(list)

##very importnat

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']
['A', 'B', 'C', 'D', 'E', 'f', 'g', 'h']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'f', 'g', 'h']
['A', 'B', 'C', 'F', 'G', 'f', 'g', 'h']

In [5]:
list=['a','b','c','d','e','f','g','h']
list[0:5]=["A","B",'C']
print(list)  #very importnat

['A', 'B', 'C', 'f', 'g', 'h']

In [6]:
##build in list functions - len()
list=['a','b','c','d','e','f','g','h']
print(len(list))

8

In [19]:
#nested lists

n=['n','a','y']
m=['e','e','m']
list=[n,m]
print(list)
print(list[0]) #this wil print the "n list"
print(list[0][0]) #this will print the 'n' list and 
#the 0 indec item of that 'n' list
print(list[1][2])

[['n', 'a', 'y'], ['e', 'e', 'm']]
['n', 'a', 'y']
n
m

In [ ]:
##Since ** has higher precedence than -, -3**2 will be interpreted as -(3**2) and
##thus result in -9. To avoid this and get 9, you can use (-3)**2.
##[2]	Unlike other languages, special characters such as \n have the same 
##meaning with both single ('...') and double ("...") quotes.
##The only difference between the two is that within single quotes
##you don’t need to escape " (but you have to escape \') and vice versa.